.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid rgb(7, 55, 250);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.body{
    cursor: url('./icons8-select-cursor-48.png');
}